		<!-- Modal Cover Boat -->
		<div class="modal orange fade" id="modal-boat" tabindex="-1" role="dialog" aria-labelledby="modal-boat-label" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="wrapper-modals">
						<div class="modal-body">
							<div class="modal-title">
								<h5 class="font-text-alt">DT15</h5>
							</div>
							<div class="modal-image">
								<img src="assets/img/graphics/mobile/cover_engine-mobile.png" alt="">
							</div>
							<div class="modal-desc">
								<p>
									Suzuki Marine mulai masuk ke Indonesia pada tahun 1994 dengan mengusung mesin DT15 sebagai produk unggulannya.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal Cover Motor -->
		<div class="modal orange fade" id="modal-motor" tabindex="-1" role="dialog" aria-labelledby="modal-motor-labebl" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="wrapper-modals">
						<div class="modal-body">
							<div class="modal-title">
								<h5 class="font-text-alt">A100</h5>
							</div>
							<div class="modal-image">
								<img src="assets/img/graphics/mobile/cover_motor-mobile.png" alt="">
							</div>
							<div class="modal-desc">
								<p>
									Suzuki A100 adalah motor pertama keluaran Suzuki dan mulai mengaspal di Indonesia pada tahun 1973. “Motor Jantan” satu ini diandalkan sebagai motor pekerja oleh jajaran polisi dan petugas pos di Indonesia.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal Cover Car -->
		<div class="modal orange fade" id="modal-car" tabindex="-1" role="dialog" aria-labelledby="modal-car-label" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="wrapper-modals">
						<div class="modal-body">
							<div class="modal-title">
								<h5 class="font-text-alt">Carry ST20</h5>
							</div>
							<div class="modal-image">
								<img src="assets/img/graphics/mobile/cover_car-mobile.png" alt="">
							</div>
							<div class="modal-desc">
								<p>
									Dijuluki “Carry Truntung”, Suzuki Carry ST20 menjadi primadona pada kelas mobil niaga pada era 70 dan 80-an karena performanya.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal Cover Bottom Boat -->
		<div class="modal purple fade" id="modal-coverbottom-boat" tabindex="-1" role="dialog" aria-labelledby="modal-coverbottom-boat-label" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="wrapper-modals">
						<div class="modal-body">
							<div class="modal-title">
								<h5 class="font-text-alt">DF325</h5>
							</div>
							<div class="modal-image">
								<img src="assets/img/graphics/mobile/coverbottom_engine-mobile.png" alt="">
							</div>
							<div class="modal-desc">
								<p>
									Pengembangan Suzuki Marine dari Suzuki DF325 yang menggunakan mesin 4-tak dan teknologi Dual Propeller membuat tenaga yang dihasilkan lebih efisien dan stabilitas terjaga karena kinerja tiap propeller berputar berlawanan arah.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal Cover Bottom Motor -->
		<div class="modal purple fade" id="modal-coverbottom-motor" tabindex="-1" role="dialog" aria-labelledby="modal-coverbottom-motor-labebl" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="wrapper-modals">
						<div class="modal-body">
							<div class="modal-title">
								<h5 class="font-text-alt">GXS-R150</h5>
							</div>
							<div class="modal-image">
								<img src="assets/img/graphics/mobile/coverbottom_motor-mobile.png" alt="">
							</div>
							<div class="modal-desc">
								<p>
									Suzuki GSX-R150 adalah ikon dan penerus tradisi motor sport performa tinggi yang mengusung kecanggihan teknologi. Suzuki terus menerapkan prinsip filosofi terbaik untuk GSX-R dan generasi berikutnya.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal Cover Bottom Car -->
		<div class="modal purple fade" id="modal-coverbottom-car" tabindex="-1" role="dialog" aria-labelledby="modal-coverbottom-car-label" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="wrapper-modals">
						<div class="modal-body">
							<div class="modal-title">
								<h5 class="font-text-alt">XL7</h5>
							</div>
							<div class="modal-image">
								<img src="assets/img/graphics/mobile/coverbottom_car-mobile.png" alt="">
							</div>
							<div class="modal-desc">
								<p>
									Inovasi SUV dengan fitur dan konsep interior modern yang mengutamakan ketangguhan dan pengalaman berkendara yang nyaman di segala medan. Dilengkapi dengan berbagai fitur dan konsep interior premium menjadikan XL7 SUV luar biasa di kelasnya.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="audio-area">
			<audio autoplay loop id="audio">
				<source src="assets/mp3/backsound.ogg" type="audio/ogg">
				<source src="assets/mp3/backsound.mp3" type="audio/mpeg">
			</audio>
		</div>
