<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="robots" content="index, follow" />
		<title>Suzuki Tetap Melaju</title>
		<meta name="description" content="Suzuki Tetap Melaju">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="keyword" content="">
		<meta property="og:title" content="Suzuki Tetap Melaju"/>
		<meta property="og:description" content="Suzuki Tetap Melaju" >
		<meta property="og:image:width" content="650" />
		<meta property="og:image:height" content="366" />
		<meta property="og:type" content="article" />
		<link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
		<link rel="manifest" href="./site.webmanifest">
		<link rel="mask-icon" href="./safari-pinned-tab.svg" color="#ff0016">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<header class="header-fix">
			<div class="container-fluid">
				<nav class="header-menu">
					<div class="header-logo">
						<h1 class="brand-logo" data-aos="fade-right">
							<a href="#">
								<span class="logo"></span>
								<span class="logo-50years"></span>
								<strong class="font-text-bold">Suzuki Tetap Melaju</strong>
							</a>
						</h1>
					</div>
					<ul class="menu flat">
						<li data-aos="fade-left">
							<button class="sound-button fas fa-volume-down" id="button-sound" data-aos="fade-down"></button>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<main{% if body_class is defined and body_class is not empty %} class="{{ body_class }}" id="{{ body_class }}" {% endif %}>
{% block page %}{% endblock %}
		</main>
{% include '../partials/modals.twig' %}
{% include '../partials/footer.twig' %}
		<script src="js/vendor.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/main.min.js"></script>
	</body>
</html>
