.slick-dotted {
	&.slick-slider {
		padding-bottom: 20px;
		margin: 0;
	}
}

.slick-dots {
	bottom: -0;
    z-index: 2;
	
	li {
		width: auto;
		height: auto;
		vertical-align: middle;
		margin: 0 3px;
		transition: all 0.3s linear;
		
		@include breakpoint(tablet) {
			margin: 0 5px;
		}

		&.slick-active {
			button {
				background-color: $highlight-bg;
			}
		}

		button {
			width: 6px;
			height: 6px;
			background-color: rgba(255, 255, 255, 0.5);
			padding: 0;
			border-radius: 100%;
			transition: all 0.3s linear;
			
			@include breakpoint(tablet) {
				width: 8px;
				height: 8px;
			}

			&:before {
				display: none;
			}
		}
	}
}

.button-arrow {
	cursor: pointer;
	padding: 0;
	outline: 0;
	z-index: 4;
	width: 0; 
	height: 0; 
	position: absolute;
	top: 58px;
	bottom: initial;
	left: initial;
	right: initial;
	background-color: transparent;
	box-shadow: none;
	transition: all 0.3s linear;
	
	@include breakpoint(tablet) {
		top: 64px;
	}

	&:focus {
		outline: 0;
		box-shadow: none;
	}

	&:hover {
		@include breakpoint(wide) {
			opacity: 1;
		}
	}

	&.prev-arrow {
		left: 0;
		width: 36px;
		height: 36px;
		background-color: $modal-orange;
		background-image: url('../assets/img/icon-arrow-left.png');
		background-position: 45% 50%;
		background-repeat: no-repeat;
		background-size: 34%;
		border-radius: 100%;
		
		@include breakpoint(tablet) {
			width: 48px;
			height: 48px;
		}
	}

	&.next-arrow {
		right: 0;
		width: 36px;
		height: 36px;
		background-color: $modal-orange;
		background-image: url('../assets/img/icon-arrow-right.png');
		background-position: 55% 50%;
		background-repeat: no-repeat;
		background-size: 34%;
		border-radius: 100%;

		@include breakpoint(tablet) {
			width: 48px;
			height: 48px;
		}
	}

	&.slick-disabled {
		opacity: 0;
		pointer-events: none;
	}
}

